@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DynaPuff:wght@400..700&family=Edu+QLD+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Libertinus+Mono&family=Monoton&family=Orbitron:wght@400..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Moonrocks&family=Rubik+Puddles&family=Tektur:wght@400..900&display=swap');

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding:0;
  margin:0;
}

:root{
  --primary:#6d28d9;
}

body{
  font-family: 'roboto',sans-serif;
  background-color: #0f172a;
  color:#e2e8f0;
}

.navbar{
  position:fixed;
  width:100%;
  background-color: rgba(15,23,42,0.8);
  backdrop-filter: blur(10px);
  z-index:50;
  padding:1rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.navbarcontainer{
  max-width:1200px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.headerlogo{
  font-size: 1.5rem;
  font-weight: bold;
  color:#fff;
  text-decoration: none;
}

.headerlogo span{
  color:var(--primary);
}

.navlinks{
  /* display:none; */
  transition: all 0.3s ease;
}

.navlinks.show{
  display:flex !important;
  flex-direction: column;
  gap:1.5rem;
  position:absolute;
  height:100vh;
  top:100%;
  right:0;
  background-color:rgba(15,23,42,0.95);
  padding:1rem 2rem 1rem 1rem;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  z-index:99;
  tranform:translateX(0);
}

.navlink{
  position:relative;
  color:#fff;
  text-decoration: none;
  margin-left:2rem;
  transition: color 0.3s erase;
}

.navlink:hover{
  color:var(--primary);
}

.navlink::after{
  content: '';
  position:absolute;
  width:0;
  height:2px;
  bottom: -2px;
  left:0;
  background-color:var(--primary);
  transition: width 0.3s ease;
}

.navlink:hover::after{
  width:100%;
}
.hambuger{
  background:none;
  border:none;
  color:#fff;
  font-size:1.25rem;
  display:block;
}

@media (min-width:768px) {
        .navlinks{
          display:flex;
        }

        .hambuger{
          display:none;
        }
}

/* hero section style */

.herosection{
  min-height: 100vh;
  padding-top:5rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.herocontainer{
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:0 1.5rem;
  max-width:1200px;
  margin:0 auto;
}

.herotext{
  text-align:center;
  margin-bottom: 3rem;
  max-width:600px;
}

.herotitle{
  font-size: 3rem;
  font-weight:bold;
  margin-bottom: 1rem;
  color: #e2e8e2;
}

.herotitle span{
  color:var(--primary);
}

.herosubtitle{
  font-size:1.5rem;
  margin-bottom: 1.5rem;
  color:#94a3b8;
}

.herodescription{
  font-size: 1.125rem;
  color:#cbd5e1;
  margin-bottom: 2rem;
}

.herobutton{
  display:flex;
  gap:1rem;
  justify-content: center;
}

.cta-btn{
  padding:0.75rem 1.5rem;
  font-weight: 500;
  border-radius: 999px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.cta-btn-primary{
  background-color:var(--primary);
  color:#fff;
}

.cta-btn-primary:hover{
  background-color: #5b21b6;
}

.cta-btn-outline{
  border:2px solid var(--primary);
  color:var(--primary);
}

.cta-btn-outline:hover{
  background-color: var(--primary);
  color:#fff;
}

.heroimgwrapper{
  position:relative;
  width:16rem;
  height:16rem;
}

.heroimgbg{
  position:absolute;
  inset:0;
  background:linear-gradient(to bottom right,var(--primary),transparent);
  border-radius: 999px;
  filter:blur(30px);
  opacity: 0.5;
}

.heroimg{
  position:relative;
  width:100%;
  height:100%;
  border-radius: 999px;
  object-fit: cover;
  object-position: top center;

  border:4px solid #334155;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

@media (min-width:768px) {
  .herocontainer{
    flex-direction: row;
    justify-content: space-between;
  }

  .herotext{
    text-align: left;
    margin-bottom:0;
  }

  .herobuttons{
    justify-content: flex-start;
  }

  .heroimgwrapper{
    width:20rem;
    height:20rem;
  }
  
}

@media (min-width:1024px) {
  .heroimgwrapper{
    width:24rem;
    height:24rem;
  } 
}
@media (max-width: 767px) {
  .navlinks {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(15, 23, 42, 0.95);
    padding: 1rem 2rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 99;
  }

  .navlinks.show {
    display: flex;
  }
}

/* about section styling */

.aboutSection{
  padding:5rem 1.5rem;
  background-color:rgba(30,41,59,0.5);
}

.aboutContainer{
  max-width: 1200px;
  margin:0 auto;
}

.aboutHeader{
  text-align:center;
  margin-bottom: 4rem;
}

.aboutTitle{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color:#e2e8f0;
}

.aboutTitle span{
  color:var(--primary);
}

.aboutDivider{
  width:5rem;
  height:4px;
  background-color: var(--primary);
  margin:0 auto 1.5rem;
}

.aboutSubText{
  max-width:700px;
  margin:0 auto;
  color:#94a3b8;
  font-size: 1rem;
}

.aboutContent{
  display:flex;
  flex-direction: column;
  gap:3rem;
}

.aboutText{
  flex:1;
}

.aboutSubheading{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color:#e2e8f0;
}

.aboutText p{
  color:#cbd5e1;
  margin-bottom: 1.25rem;
  line-height: 1.6;
}

.aboutCvBtn{
  display:inline-flex;
  align-items: center;
  padding:0.5rem;
  margin-top:1rem;
}

.aboutCards{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:1.5rem;
  flex:1;
}

.aboutCard{
  background-color: rgba(51,65,85,0.5);
  padding:1.5rem;
  border-radius: 1rem;
  border:1px solid #334155;
  color:#e2e8f0;
  transition: all 0.3s ease;
  text-align:left;
}

.aboutIcon{
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.aboutCard{
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.aboutCard p{
  color:#94a3b8;
  font-size: 0.95rem;
}

@media (min-width:1024px) {
  .aboutContent{
    flex-direction: row;
    align-items:flex-start;
  }
}

/* project section styling */

.projectSection{
  padding:5rem 1.5rem;
}

.projectContainer{
  max-width:1200px;
  margin:0 auto;
}

.projectHeader{
  text-align: center;
  margin-bottom: 4rem;
}

.projectTitle{
  font-size: 2.5rem;
  font-weight: bold;
  color:#e2e8f0;
  margin-bottom: 1rem;
}

.projectTitle span{
  color:var(--primary);
}

.projectDivider{
  width:5rem;
  height:4px;
  background-color: var(--primary);
  margin:0 auto 1.5rem;
}

.projectSubText{
  max-width:700px;
  margin:0 auto;
  color:#94a3b8;
}

.projectGrid{
  display:grid;
  grid-template-columns: 1fr;
  gap:2rem;
}

.projectCard{
  background-color: rgba(30,41,59,0.5);
  border:1px solid #1e293b;
  border-radius: 1rem;
  padding:1.5rem;
  transition: all 0.3s ease;
}

.projectCard:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.projectImg{
  height:12rem;
  overflow: hidden;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}

.projectImg img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.projectTags{
  display:flex;
  gap:0.5rem;
  margin-bottom: 0.75rem;
}

.projectTag{
  font-size: 0.75rem;
  padding:0.25rem 0.75rem;
  border-radius: 999px;
}

.tag-purple{
  background-color: rgba(88,28,135,035);
  color:#c084fc;
}

.tag-slate{
  background-color: rgba(71,85,105,0.5);
  color:#cbd5e1;
}

.tag-blue{
  background-color: rgba(30,58,138,0.5);
  color:#93c5fd;
}

.tag-emerald{
  background-color:rgba(6,95,70,0.5);
  color:#6ee7b7;
}

.tag-amber{
  background-color: rgba(120,53,15,0.5);
  color:#fcd340;
}

.tag-red{
  background-color: rgba(127,29,29,0.5);
  color:#fca5a5;
}

.projectName{
  font-size: 1.25rem;
  font-weight: 600;
  color:#e2e8f0;
  margin-bottom: 0.5rem;
}

.projectdescription{
  color:#9403b8;
  margin-bottom: 1rem;
}

.projectLinks{
  display:flex;
  gap:1rem;
  align-items: center;
}

.projectLinks a{
  color:#c084fc;
  transition: color 0.3s ease;
}

.projectLinks a:hover{
  color:#978bfa;
}

.projectCta{
  text-align:center;
  margin-top:3rem;
}

@media (min-width:768px) {
  .projectGrid{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width:1024px) {
  .projectGrid{
    grid-template-columns: repeat(3,1fr);
  }
}

/* skill styling section */

.skillSection{
  padding:5rem 1.5rem;
  background-color: rgba(30,41,59,0.5);
}

.skillContainer{
  max-width:1200px;
  margin:0 auto;
}

.skillHeader{
  text-align: center;
  margin-bottom: 4rem;
}

.skillTitle{
  font-size: 2.5rem;
  font-weight: bold;
  color:#e2e8f0;
  margin-bottom: 1rem;
}

.skillTitle span{
  color:var(--primary);
}

.skillDivider{
  width:5rem;
  height:4px;
  background-color: var(--primary);
  margin:0 auto 1.5rem;
}

.skillSubText{
  max-width:700px;
  margin:0 auto;
  color:#94a3b8;
}

.skillsGroup{
  margin-bottom: 3rem;
}

.skillCategory{
  text-align:center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color:var(--primary);
}

.skillGrid{
  display:grid;
  gap:1.2rem;
  grid-template-columns: repeat(2,1fr);
}

.skillCard{
  background-color: rgba(30,41,59,0.5);
  border:1px solid #334155;
  border-radius: 1rem;
  text-align:center;
  transition: border 0.3s ease;
  padding:1.5rem;
}

.skillCard:hover{
  border-color: var(--primary);
}

.skillIcon{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-right:0.5rem;
  transition: transform 0.3s ease;
}

.skillCard:hover .skillIcon{
  transform: scale(1.1);
}

.skillCard span{
  font-weight: 500;
  color:#e2e8f0;
}

.skillBar{
  width:100%;
  background-color: #334155;
  height:0.5rem;
  border-radius: 999px;
  margin-top:0.75rem;
  overflow: hidden;
}
.skillBar div{
  height:100%;
  border-radius: 999px;
  transition: width 0.3s ease;
}

@media (min-width:640px) {
  .skillGrid{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width:768px) {
  .skillGrid{
    grid-template-columns: repeat(4,1fr);
  }
}

@media (min-width:1024px) {
  .skillGrid{
    grid-template-columns: repeat(6,1fr);
  }
}

/* contact section styling */

.contactSection{
  padding:5rem 1.5rem;
  background-color:#0f172a;
}

.contactContainer{
  max-width:1200px;
  margin:auto;
}

.contactHeader{
  text-align:center;
  margin-bottom: 4rem;
}

.contactTitle{
  font-size: 2.5rem;
  font-weight: 700;
  color:#e2e8f0;
}

.contactTitle span{
  color:var(--primary);
}

.contactDivider{
  width:5rem;
  height:4px;
  background-color: var(--primary);
  margin:1rem auto;
}

.contactSubText{
  color:#94a3b8;
  max-width: 700;
  margin:auto;
}

.contactcontant{
  display:flex;
  flex-direction: column;
  gap:3rem;
}

.contactForm{
  flex:1;
  display:flex;
  flex-direction: column;
  gap:1.5rem;
}

.contactForm label{
  color:#e2e8f0;
  margin-bottom: 0.5rem;
  display:block;
}

.contactForm input,.contactForm textarea{
  width:100%;
  padding:0.75rem 1rem;
  background:transparent;
  border:1px solid var(--primary);
  border-radius: 0.5rem;
  color:#e2e8f0;
}

.contactForm input:focus,.contactForm textarea:focus{
  outline:none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px var(--primary);
}

.contactForm button{
  padding:0.75rem;
  background:var(--primary);
  color:#e2e8f0;
  font-weight: 500;
  border-radius: 0.5rem;
  border:none;
  cursor: pointer;
  transition: background 0.3s;
}

.contactForm button:hover{
  background:#7e22ee;
}

.contactGrid{
  display:grid;
  grid-template-columns: 1fr;
  gap:1.5rem;
}

.contactInfo{
  flex:1;
  display:flex;
  gap:1.5rem;
  flex-direction: column;
}

.contactCard{
  background:var(#1e293b);
  border:1px solid var(--primary);
  border-radius: 1rem;
  padding:1rem;
  display:flex;
  gap:1rem;
  color:#e2e8f0;
}

.contactCard i{
  display:flex;
  align-items: center;
  color:var(--primary);
  font-size: 1rem;
}

@media (min-width:768px) {
  .contactGrid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width:1024px) {
  .contactcontant{
    flex-direction: row;
  }
}

/* footer styling */

.footer{
  background:#0f172a;
  padding:4rem 1.5rem;
  border-top:1px solid #1e293b;
}

.footerContainer{
  max-width:1200px;
  margin:auto;
}

.footersocials{
  color:#94a3b8;
  font-size: 1.25rem;
  transition: color 0.3s;

}

.footersocials a:hover{
  color:var(--primary);
}

.footerTopLink{
  background: #1e293b;
  color:#cbd5e1;
  padding:0.5rem 1rem;
  border-radius: 999px;
  transition: all 0.3s;
  text-decoration: none;
}

.footerTopLink:hover{
  background-color: var(--primary);
  color:#e2e8f0;
}

.footerContainer{
  max-width:1200px;
  margin:auto;
  /* Add this line to center content */
  text-align: center;
  justify-content: space-between;
}